<div class="container">
    <div class="starter-template">

        <div ng-controller="tempHumid" ng-cloak class="ng-cloak">
            <h1>Home Dashboard</h1>
            <br>
            <p class="text-center" ng-hide="dataLoaded">
                <i class="fa fa-spinner fa-spin"></i>
            </p>
            <div class="well" ng-show="dataLoaded">
                <h2>Temperature</h2><h3>{{temperatureC}} &deg;C<br> {{temperatureF}} &deg;F</h3><br>
                <h2>Relative Humidity</h2><h3>{{humidity}} %</h3>
            </div>

            <br>
            <div class="well" ng-show="dataLoaded">
                <h2><i class="fas fa-download" aria-hidden="true"></i>Current Network Utilization</h2>
                <p class="text-center" ng-hide="networkLoading">
                    <i class="fa fa-spinner fa-spin" ng-hide="networkLoading"></i>
                </p><h3 ng-hide="intialNetText">Rx: {{rxNetworkUsage}} kB/sec</h3>
                <h3 ng-hide="intialNetText">Tx: {{txNetworkUsage}} kB/sec</h3>
            </div>
            <br>
            <div class="well" ng-show="dataLoaded">
                <h2><i class="fa fa-bolt" aria-hidden="true"></i>Current Power Utilization</h2><h3>{{currPower}} kW</h3>
            </div>
            <br>
            <div class="well" ng-show="dataLoaded">
                <h2>Daily Temperature Chart</h2><br>
                <div id="tempChart"></div>
                <br>

                <h2>Daily Power Chart</h2><br>
                <div id="powerChart"></div>
                <br>
                <br>
                <h5>LastUpdated: {{timestamp}}</h5>
            </div>

        </div>
    </div>
</div>

<script src="https://code.highcharts.com/highcharts.src.js"></script>